<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fractala</title>
        <link rel="icon" href="static/img/favicon.png" type="image/x-icon">
       
        <meta name="description" content="Everything you need for your Digital Presence">
        <meta name="keywords" content="digital assets">
        <meta name="robots" content="all">
        <meta name="author" content="FRACTALA">

        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Berkshire+Swash|Chicle&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
       
    </head>
    <body>
        <header>
            <div id="header_container">
                <div id="logo" style="float:left"><h1 style="width:150px;text-align:center;padding:10px 5px;">FRACTALA</h1></div>
                <div id="social_media">
                    <a href="https://github.com/JustinaRein" target="_blank"><img src="static/img/icon_github.png" alt="GitHub" style="width:80%;height:auto"/></a>
                    <a href="https://www.linkedin.com/company/fractala/" target="_blank"><img src="static/img/icon_linkedin.png" alt="Linkedin" style="width:80%;height:auto"/></a>
                </div>
            </div>
        </header>
        <div id="content_wrapper">
            <div id="front_page_content">
                <div id="front_page_title">
                    <h1>
                        <span class="line_one">EVERYTHING</span><br>
                        <span class="line_second">you&nbsp;need&nbsp;for&nbsp;your</span><br> 
                        <span class="line_third">Digital&nbsp;Presence</span>
                    </h1>
                </div>
                <div id="front_page_navigation">
                    <nav id="navigation">
                        <a href="#">Website</a>
                        <a href="#">Web App</a>
                        <a href="#">Banner Ad</a>
                        <a href="#">Social Media</a>
                        <a href="#">Email</a>
                        <a href="#">Artwork</a>
                        <a href="#">Video</a>
                    </nav>
                    <div style="padding: 0px 20px 0px 171px;">
                    </div>
                </div>
            </div>
            
            <img src="static/img/recursive_trees.png" style="width:100%;height:auto;">
        </div>
        
        <footer>
            <p>&copy;2018 FRACTALA Ltd</p>
        </footer>
       
    </body>
</html>