<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fractala</title>
        <link rel="icon" href="/static/img/favicon.png" type="image/x-icon">
       
        <meta name="description" content="Everything you need for your Digital Presence">
        <meta name="keywords" content="digital assets">
        <meta name="robots" content="all">
        <meta name="author" content="FRACTALA">

        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Berkshire+Swash|Chicle&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118006203-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-118006203-1');
        </script>
    </head>
    <body>
        <header>
            <h1 id="logo">FRACTALA</h1>
            <div id="social_media">
                <a href="https://github.com/JustinaRein" target="_blank"><img src="/static/img/icon_github.png" alt="GitHub" style="width:80%;height:auto"/></a>
                <a href="https://www.linkedin.com/company/fractala/" target="_blank"><img src="/static/img/icon_linkedin.png" alt="Linkedin" style="width:80%;height:auto"/></a>
            </div>
        </header>
        <div id="content_wrapper">
            <div id="front_page_content">
                <div id="front_page_title">
                    <h1>
                        <span class="line_one">EVERYTHING</span><br>
                        <span class="line_second">you&nbsp;need&nbsp;for&nbsp;your</span><br> 
                        <span class="line_third">Digital&nbsp;Presence</span>
                    </h1>
                </div>
                <div id="front_page_navigation">
                    <nav id="navigation" style="display:table-cell;">
                        <a href="#" class="dot">Website</a>
                        <a href="#" class="dot">Web App</a>
                        <a href="#" class="dot">Rich Media</a>
                        <a href="#" class="dot">Social Media</a>
                        <a href="#" class="dot">HTML Email</a>
                        <a href="#" class="dot">Artwork</a>
                        <a href="#" class="dot">Video</a>
                    </nav>
                    <div id="slide_container">
                       
                        <p class="slide_text fade"><b>Website</b> for <b>Your Business</b> showcasing products and services, portfolio and general info.<br> &bull; <b>Responsive design</b> to look good on any device.<br> &bull; <b>Dynamic implementation</b> for easy content updates.<br> &bull; All <b>SEO magic</b> to make your website visable, searchable and findable.<br> &bull; <b>Tracking</b> bits for you to know that it all works.</p>

                        <p class="slide_text fade">Need a little extra to your website? <b>E-commerce</b>, <b>user logins</b>, <b>chatroom</b>, <b>interactive data visualisation</b>, special <b>order forms</b>, <b>game</b> or any other <b>special feature</b> or <b>functionalioty</b>.<br> &bull; <b>Hosting platform setup</b>, so your Web App is fast, safe and scalable.<br> &bull; <b>Backend logic</b> design and implementation.<br> &bull; <b>Web App</b> is skinned to <b>match your brand</b>.</p>

                        <p class="slide_text fade"><b>Rich Media</b> is an affective way to <b>reach a broader audience</b> and <b>inform about your existance</b>.<br> &bull; <b>Rich media suit</b> design and development (there are standard banner sizes).<br> &bull; <b>Doubleclick setup</b> - ad serving server we know best.<br> &bull; <b>Advice</b> and <b>support</b> for choosing <b>user profiles</b>, <b>audience</b> and <b>geographical locations</b> to meet expectations. <br> &bull; <b>Tracking</b> bits for you to know that it all works.</p>
                       
                        <p class="slide_text fade"><b>Social media profiles/pages</b> are a must for every business. <b>Facebook</b>, <b>Twitter</b>, <b>Instagram</b>, <b>Linkedin</b> and etc. To setup profiles is not a rocket science, but maximise their usefulness - it is another story.<br> &bull; <b>Imagery design</b> to meet standards of each social media platform.<br> &bull; <b>Regular posts</b> to keep your followers in the circle.<br> &bull; <b>Promo ad</b> design and setup to attract more followers.</p>

                        <p class="slide_text fade">Do you have your <b>customer email list</b>? And you would like to send a professional, nicely designed and engaging email?<br> &bull; <b>Email design</b> and <b>development.</b><br> &bull; <b>Mailing platform</b> to send your email.<br> &bull; <b>Tracking</b> bits for you to know that it all works.</p>
                        
                        <p class="slide_text fade">Poster, leaflet, menu, picture, presentation - really, whatever you need.<br> &bull; <b>Photo retouching</b>, <b>collage</b>, <b>resizing</b><br> &bull; <b>Advice</b> on standards, sizes and quality best for <b>web</b> or even <b>print</b>.</p>
                        
                        <p class="slide_text fade"><b>Video editing</b> and <b>compilation</b> services.<br> &bull; Add titles, music, some <b>special effects</b> to your video.<br> &bull; <b>Video resize</b> and <b>compression</b>.</p>
                    </div>
                </div>
            </div>
            
            <img src="static/img/recursive_trees.png" style="width:100%;height:auto;">
        </div>
        
        <footer>
            <div style="float:left;width:100%;border-bottom: 1px solid white; margin-bottom: 30px">
                <a style="display:block;color:white; font-size: 20px; font-weight:bold;text-decoration:none;padding:5px 0px;text-align: center;" href="/static/portfolio/richmedia/01/balloon.html">project(balloon)</a>
                <a style="display:block;color:white; font-size: 20px; font-weight:bold;text-decoration:none;padding:5px 0px;text-align: center;" href="/static/portfolio/richmedia/02/3dcube.html">project(3D cube)</a>
                <a style="display:block;color:white; font-size: 20px; font-weight:bold;text-decoration:none;padding:5px 0px;text-align: center;" href="/static/portfolio/richmedia/14/smoke.html">project(smoke)</a>
                <a style="display:block;color:white; font-size: 20px; font-weight:bold;text-decoration:none;padding:5px 0px;text-align: center;" href="/static/portfolio/richmedia/04/countdown.html">project(countdown)</a>
                <a style="display:block;color:white; font-size: 20px; font-weight:bold;text-decoration:none;padding:5px 0px;text-align: center;" href="/static/portfolio/richmedia/06/dory.html">project(dory)</a>
                <a style="display:block;color:white; font-size: 20px; font-weight:bold;text-decoration:none;padding:5px 0px;text-align: center;" href="/static/portfolio/richmedia/07/3features.html">project(3features)</a>
                <a style="display:block;color:white; font-size: 20px; font-weight:bold;text-decoration:none;padding:5px 0px;text-align: center;" href="/static/portfolio/richmedia/08/dropcube.html">project(drop cubes)</a>
                <a style="display:block;color:white; font-size: 20px; font-weight:bold;text-decoration:none;padding:5px 0px;text-align: center;" href="/static/portfolio/richmedia/09/zoomcube.html">project(zoom cube)</a>
                <a style="display:block;color:white; font-size: 20px; font-weight:bold;text-decoration:none;padding:5px 0px;text-align: center;" href="/static/portfolio/richmedia/10/zoomtv.html">project(zoom tv)</a>
                <a style="display:block;color:white; font-size: 20px; font-weight:bold;text-decoration:none;padding:5px 0px;text-align: center;" href="static/portfolio/richmedia/11/3dslide.html">project(3D slide)</a>
                <a style="display:block;color:white; font-size: 20px; font-weight:bold;text-decoration:none;padding:5px 0px;text-align: center;" href="/static/portfolio/richmedia/13/skyq.html">project(Sky Q)</a>
                <a style="display:block;color:white; font-size: 20px; font-weight:bold;text-decoration:none;padding:5px 0px;text-align: center;" href="/static/portfolio/richmedia/15/nowtv.html">project(Now TV)</a>
            </div>
            <p>&copy;2018 FRACTALA Ltd</p>
        </footer>
        <script type='text/javascript' src='static/js/script.js'></script>
    </body>
</html>